ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    display: inline;
    float: left;
    
}

a {
    display: block;
    color: white;
    padding: 20px;
}

li a:hover {
    color: blue;
    background-color: white;
}

li a:after {
    color: yellow;
}